<%- include ('partials/head.ejs') %>
    <body>
        <%- include ('partials/navbar.ejs') %>
        <div class="container">
            <div class="card" id="formulario-pergunta">
                <div class="card-header">
                    <h2>Realizar Pergunta</h2>
                </div>

                <div class="card-body">
                    <form action="/salvar_pergunta" method="post">
                        <label for="titulo">Título</label>
                        <input id="titulo" type="text" placeholder="Título" class="form-control" name="titulo" required>
                        <br>
                        <label for="descricao">Descrição</label>
                        <textarea id="descricao" placeholder="Descreva aqui a sua pergunta" class="form-control" name="descricao" required></textarea>
                        <br>
                        <button class="btn btn-primary">Perguntar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
<%- include ('partials/end.ejs') %>