<%- include ('partials/head.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Pergunta realizada com sucesso!</h1>
            </div>
            <div class="card-footer">
                <a href="/" class="btn btn-success">Retornar à página principal</a>
            </div>
        </div>
    </div>
    
</body>
<%- include ('partials/end.ejs') %>